.wrapper_navbar {
  height: 69px;
  width: 100%;
  background-color: #000;
  display: grid;
  grid-template-columns: 25% auto;
  align-items: center;
  padding: 15px;

  @media (min-width: 768px) {
    padding: 0 60px 0 109px;
  }
  @media (min-width: 1440px) {
    display: grid;
    grid-template-columns: 20% auto 20%;
  }
  @media (min-width: 1500px) {
    display: grid;
    grid-template-columns: 15% auto 15%;
  }
}

.logo {
  cursor: pointer;
  grid-column: 1;
}

.navbar_container {
  display: none;
  grid-column: 2;

  @media (min-width: 1023px) {
    display: block;
    grid-column: 2;
  }
}

.nav {
  display: flex;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;

  @media (min-width: 1176px) {
    gap: 42px;
  }
}

.nav li {
  cursor: pointer;
}

.user_container {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.mode_logo {
  cursor: pointer;
}

.sign_in_logo {
  cursor: pointer;
}

.hamburger_menu {
  cursor: pointer;
  display: block;

  @media (min-width: 1023px) {
    display: none;
  }
}
